@font-face {
    font-family: "Playfair Display";
    src: url('../../style/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face {
    font-family: "Playfair Display Light";
    src: url('../../style/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
}
p,.carousel-indicators{
    margin: 0;
    margin-bottom: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(3,8,13);
}
.card-body{
    padding: 2%;
}
.poptext{
    font-family: "Times New Roman", serif !important;
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 1.4rem;
    margin-bottom: 0.3rem;
}
.followup{
    font-family: "Segoe UI","Calibri","Verdana","Arial Narrow";
    opacity: 80%;
    font-size: 0.7rem;
    line-height: 1rem;
}
.keytext{
    font-family: "Playfair Display","Times New Roman", serif !important;
    font-size: 1rem;
    line-height: 0.7rem;
    color:white;
}
.keytext,.specialkeytext{
    color:white;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 6px;
}
.specialkeytext{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif !important;
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-bottom: 2px;
    border-color: white;
    text-decoration: solid white;
    margin: 0;
}
.xstext{
    font-size: 0.75rem;
}
.xltext.poptext{
    font-size: 2.9rem;
    line-height: 3rem;
}
.xltext.followup{
    font-size: 1rem;
    line-height: 0.9rem;
}
.xstext.followup{
    font-size: 0.7rem;
    line-height: 0.9rem;
}
.base{
    background: rgb(3,8,13);
    width: 100vw;
}
.text-successful{
    color:lightgreen !important;
}

.bnav {
    background-color: white;
}

/* Style the icons on the inactive tabs */
.nav-link svg {
    color: rgb(3,8,13);
}
/* Style the active tab */
.nav-item .active {
    background-color: rgb(3,8,13) !important;
}

.custom-nav .active svg,.nav-link.active svg {
    fill: white;
    color: white;
}
svg:hover,svg:focus{
    fill: lightblue;
    stroke-width: 2;
}


