@font-face {
    font-family: "Playfair Display";
    src: url('../../style/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face {
    font-family: "Playfair Display Light";
    src: url('../../style/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
}
p,.carousel-indicators{
    margin: 0;
    margin-bottom: 0;
}
body, .transparent-accordion-button, .transparent-accordion-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(3,8,13);
}
.card-body{
    padding: 2%;
}
.poptext{
    font-family: "Times New Roman", serif !important;
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 1.4rem;
    margin-bottom: 0.3rem;
}
.followup{
    font-family: "Segoe UI","Calibri","Verdana","Arial Narrow";
    opacity: 80%;
    font-size: 0.7rem;
    line-height: 1rem;
}
.keytext{
    font-family: "Playfair Display","Times New Roman", serif !important;
    font-size: 1rem;
    line-height: 0.7rem;
    color:white;
}
.keytext,.specialkeytext{
    color:white;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 6px;
}
.specialkeytext{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif !important;
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-bottom: 2px;
    border-color: white;
    text-decoration: solid white;
    margin: 0;
}
.xstext{
    font-size: 0.75rem;
}
.xltext.poptext{
    font-size: 2.9rem;
    line-height: 3rem;
}
.xltext.followup{
    font-size: 1rem;
    line-height: 0.9rem;
}
.trxntable div div p{
    padding-top: 3px;
}
.trxntable div div p.xstext{
    font-size: 0.5rem;
    opacity: 80%;
    margin: 0;
    padding: 0;
}
.trxntable p.xstext{
    opacity: 85%;
    font-size: 0.7rem;
}
.xstext.followup{
    font-size: 0.7rem;
    line-height: 0.9rem;
}
.base{
    background: rgb(3,8,13);
    width: 100vw;
}
.text-successful{
    color:lightgreen !important;
}
.text-failure{
    color:rgb(255, 155, 155)!important;
}
.bnav {
    background-color: white;
}

/* Style the icons on the inactive tabs */
.nav-link svg {
    color: rgb(3,8,13);
}
/* Style the active tab */
.nav-item .active {
    background-color: rgb(3,8,13) !important;
}

.custom-nav .active svg,.nav-link.active svg {
    fill: #ffffffe7;
    color: white;
}
svg:hover,svg:focus{
    fill: lightblue;
    stroke-width: 2;
}
.transparent-accordion-button, .transparent-accordion-body {
    border-color: white;
    color: white;
  }
  
.transparent-accordion-body {
background-color: rgb(3,8,13);
border-color: white;
color: white;
}
.mini-card{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}
.mini-button{
    width: 90%;
    margin: 5%;
}
.vnav-group{
    padding: 0;
    padding-left: 3%;
}
.vnav-group button:not(:first-child):not(:last-child){
    border-top-width: 0;
    border-bottom-width: 0;
}
.vnav-group button:first-child{
    border-bottom-width: 0;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 20px !important;
}
.vnav-group button:last-child{
    border-top-width: 0;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 20px !important;
 }
.vnav.active{
    background: rgb(12, 32, 51);
}
.vnav{
    background: white;
    color: black;
    border-radius: 0;
}
.vnav{
    stroke: black;
}
.vnav.active svg{
    stroke: white;
}
